{% extends "base.html" %}
{% block head_content %}Технологии{% endblock %}
{% block main_content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Тут должен быть рассказ какие крутые технологии я умею использовать, но времени нет писать это.</p>
  </article>
</div>
{% endblock %} 